//$main: #F8b500;
$main: #F5AF25;
$main_hover: #dd970c;
//$main_dark: #393e46;
$dark: #333333;
$darker: #262626;
$blue: #70a1ad;
$gray: #5c636e;
$white: #f7f7f7;
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: $dark;
  overflow-y: scroll;
}
section {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

.content-grid {
  display: grid;
  height: 100%;
  grid-column-start: 2;
}
.content-box {
  grid-area: content-box;
  display: grid;
  padding: 20px;
  position: relative;
}


#header {
  height: 60px;
  min-height: 60px;
  background-image: url('../images/black-twill.png');
  opacity: 1;
  background-color: $dark;
  color:$main;
  font-size: 25px;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  a{
    color: $white;
    text-decoration: none;
    margin-right: 20px;
  }
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
  .main-nav,
  .header-contacts {
    display: flex;
    align-items: center;
  }
  .header-contacts {
    justify-content: flex-end;
  }
}

#home {
  .content-grid {
    grid-template-areas:
      '. . .'
      '. content-box content-box'
      '. content-box content-box'
      '. . .';
  }

  background-color: rgba($dark,.6);
  background-image: url('../images/axiom-pattern.png');
  .content-box {
    grid-template-areas:
      'face-header face-header'
      '. face-menu';
    background-color: rgba($main,.8);
    background-image: url('../images/worn-dots.png');
  }
  header {
    grid-area: face-header;
  }
  main {
    grid-area: face-main;
  }
}
#services {

  background-color: rgba($white,.8);
  background-image: url('../images/worn-dots.png');
  //.content-box{
  //beauty gradient
  //background-image: linear-gradient(-20deg, rgba(36,210,146, .5) 0%,  rgba(213,88,200, .5) 100%);
  //}
}
#contacts {
  background-color: rgba($dark,.6);
  background-image: url('../images/axiom-pattern.png');
  color: $white;
  .content-grid {
    grid-template-areas:
      '. . .'
      '. content-box content-box'
      '. content-box content-box'
      '. . .';
  }
}
footer{
  position: relative;
  background-color: rgba($darker,1);
  background-image: url('../images/cross-stripes.png');
  min-height: 20vh;
}
